
@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html{
    background-color: #550000 ; /*Couleur du fond*/
}

html{
    background-color: #550000 ; /*Couleur du fond*/
    max-width: 1080x;
    border: red solid;
}

/* TYPOGRAPHIE */

.titre{
  border: red solid;
  font-family: "Pirata One" ;
  color: #f6cacc;
}

.texte{
  border: red solid;
  font-family :"Poppins" ;
  color: #f6cacc;
}

#accueil{
    display: flex;               /* aligne les images côte à côte */
    justify-content: center;     /* centre le tout */
    gap: 20px;                   /* espace entre les images */
}

#accueil img{
    width: 40%;                  /* taille moyenne */
    height: auto;                /* garde les proportions */
    object-fit: cover;           /* optionnel */
    border-radius: 10px;         /* optionnel : joli */
    
}

nav{
    background-color: #dd2b03;
    display: flex;
}

nav ul li a{
    color: #f6cacc;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
}

ul li a:hover {
  background-color: #5f0c0c;
}

nav img{
    width: 14px;
    height: 14px;
}

/* PRESENTATION */

#presentation{
  border: #00ffff solid;
}

.presentation_globale{
  border: #ff00aa solid;
  max-height: auto;
  padding: 2% 5%;
  display: flex;
  justify-content: space-around;
}

.photo_globale{
  border: rgb(4, 255, 0) solid;
  max-width: 40%;
  max-height: auto;
  border-radius: 30px;
}

.texte_globale{
  border: rgb(4, 255, 0) solid;
  display: flex;
  flex-direction: column;
}

/* ENGAGEMENTS */

.presentation_engagements{
  padding: 2% 10%;
  justify-content: space-around;
  border: #ff00aa solid;
}

.texte_engagements{
  border: rgb(4, 255, 0) solid;
  display: flex;
  flex-direction: column;
  background-color: rgba(221, 43, 3, 0.8);
  border-radius: 30px;
}


/* VALEURS */

.presentation_valeurs{
  border: rgb(4, 255, 0) solid;
  padding: 2% 0%;
  max-height: 300px;
  display: flex;
  justify-content: space-around;
}

.valeurs{
  align-items: center;
}

.photo_valeurs{
  width: 300px;
  height: 300px;
  border-radius: 30px;
  border: #2200ff solid;
}

.texte_valeurs{
  max-width: 85%;
  max-height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(221, 43, 3, 0.8);
  border-radius: 30px;
  transform: translateY(-100%);
  border: #00ffff solid;
}

/* CAROUSEL */

.carousel_artistes{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

/* radio cachés */
.carousel_artistes input {
  display: none;
}

.viewport {
  overflow: hidden;
  margin-left: 15%;
  margin-right: 15%;
}

.track {
    display: flex;
    width: calc(5 * (55%/ 3)); /* 5 images, 3 visibles */
    transition: transform 0.5s ease;
}

/* 3 images visibles */
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 calc(100% / 3);
    padding: 10px;
}

.photo_carousel{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

/* Positions (3 états seulement) */
#pos1:checked ~ .viewport .track {
  transform: translateX(0%);
}

#pos2:checked ~ .viewport .track {
  transform: translateX(calc(-105% / 3));
}

#pos3:checked ~ .viewport .track {
  transform: translateX(calc(-210% / 3));
}

/* Boutons */
.controls {
  margin-top: 15px;
  text-align: center;
}

input#pos1:checked ~ .controls label[for="pos1"],
input#pos2:checked ~ .controls label[for="pos2"],
input#pos3:checked ~ .controls label[for="pos3"] {
  background: #fff;
}

/* conteneur flèches */
.arrows {
  position: relative;
  width: 70%;
  margin-left: 12%;
  margin-right: 12%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* flèche gauche */
.arrow.prev::before {
  content: "‹";
  position: absolute;
  font-size: 100px;
  left: 10px;
  top: 0;
  transform: translateY(-190%);
}

/* flèche droite */
.arrow.next::before {
  content: "›";
  position: absolute;
  font-size: 100px;
  left: 10px;
  top: 0;
  transform: translateY(-190%);
}

.arrow.prev { left: -40px; }
.arrow.next { right: -40px; }

/* toutes les flèches invisibles par défaut */
.arrow { display: none; }

/* règles d'apparition selon l'état */

#pos1:checked ~ .arrows .b2 { display: block; } /* → pos2 */
#pos2:checked ~ .arrows .a1 { display: block; } /* ← pos1 */
#pos2:checked ~ .arrows .b3 { display: block; } /* → pos3 */
#pos3:checked ~ .arrows .a2 { display: block; } /* ← pos2 */

/* OEUVRES */

#oeuvres{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
}

.ligne_oeuvres{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.portrait{
    border-radius: 30px;
    max-width: 30%;
    max-height: auto;
    object-fit: contain
}

.paysage{
    border-radius: 30px;
    max-width: 100%;
    max-height: auto;
    object-fit: contain
}

/* CONTACTS */

#contacts{
  border: #00ffff solid;
  display: flex;
}

.info{
  border: rgb(4, 255, 0) solid;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.coordonnees{
  border: #2200ff solid;
}

.rs{
  border: #2200ff solid;
  display: inline-block;
}

.photo_rs{
  max-width: 10%;
  max-width: 10%;
}

#formulaire{
  border: rgb(4, 255, 0) solid;
  max-width: 50%;
}
